################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuranApp/FileContentIndex
/.vs/QuranApp
/QuranApp/obj/Debug/net8.0/*.*
/QuranApp/bin/Debug/net8.0/*.*
/QuranApp/obj/Debug/net8.0/ref
*.suo
*.user
bin/
obj/
Debug/
Release/
/.vs/ProjectEvaluation/quranapp.metadata.v7.bin
/.vs/ProjectEvaluation/quranapp.projects.v7.bin
